<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %> - AlwaysTrending</title>
  <% include ../../partials/header.ejs %>
  <style>
    #cover {
      background:url(<%= article.image_url %>) no-repeat top center fixed;
      background-size:cover;
    }

    #content h1,h2,h3,h4 {
      color:#20B2FF;
    }
  </style>
</head>
<body>
  <div id="cover"></div>

  <% include ../../partials/nav.ejs %>


  <div id="content-panel">

    <div id="content" class="shadowbox">
      <% if (locals.user) { %>
      <p class="<%= article.is_public ? "bg-success" : "bg-warning" %>">
        <%= article.is_public ? "Published" : "Draft" %>
      </p>
      <p>
        <a href="/articles/<%= article.id %>/edit">Edit</a>
      </p>
      <hr>
      <% } %>
      <h2><%= article.title %></h2>
      <h4 style="color:inherit"><%= article.readablePublishDate() %></h4>

      <hr />
      <%- article.body %>
      <div class="addthis_inline_share_toolbox"></div>
    </div>
  </div>

  <% include ../../partials/footer.ejs %>

  <!-- Go to www.addthis.com/dashboard to customize your tools --> 
  <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-590447151a6a8692"></script>
</body>
</html>
