<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %> - AlwaysTrending</title>
  <% include ../../partials/header.ejs %>
  <style>
    #content-panel {}
    body {
      background:url(<%= article.image_url %>) no-repeat top center fixed;
      background-size:cover;
    }
  </style>
</head>
<body>
<% include ../../partials/nav.ejs %>


<div id="content-panel">

  <div id="content">
    <h3><%= article.readablePublishDate() %></h3>
    <hr />
    <h1><%= article.title %></h1>
    <% if (locals.user) { %>
    <p class="<%= article.is_public ? "bg-success" : "bg-warning" %>">
      <%= article.is_public ? "Published" : "Draft" %>
    </p>
    <p>
      <a href="/articles/<%= article.id %>/edit">Edit</a>
    </p>
    <% } %>
    <hr />
    <%- article.body %>
  </div>
</div>

<% include ../../partials/footer.ejs %>
</body>
</html>
