
<div class="form-group">
  <label>Title</label>
  <input type="text" 
         name="article_title"
         value="<%= article.title %>"
         class="form-control"
         placeholder="Title"
         required>
</div>
<div class="form-group">
  <label>Is public? <input type="checkbox" 
                           name="article_is_public"
                           <% if (article.is_public) { %>
                           checked="checked"
                           <% } %>>
   </label>
</div>
<div class="form-group">
  <label>Article type:</label>
  <select class="form-control"
          name="article_content_type">
    <option value="0" 
            <% if (article.content_type === 0) { %>
            selected="selected"
            <% } %>
            >Unknown</option>
    <option value="1" 
            <% if (article.content_type === 1) { %>
            selected="selected"
            <% } %>
            >Essay</option>
    <option value="2" 
            <% if (article.content_type === 2) { %>
            selected="selected"
            <% } %>
            >News</option>
  </select>
</div>
<div class="form-group">
  <label>URL Snippet</label>
  <input type="text" 
         name="article_url_snippet"
         value="<%= article.url_snippet %>"
         class="form-control"
         placeholder="URL Snippet"
         required>
</div>
<div class="form-group">
  <label>Image URL</label>
  <input type="text" 
         name="article_image_url"
         value="<%= article.image_url %>"
         class="form-control"
         placeholder="Image URL"
         required>
</div>
<div class="form-group">
  <label>Publish Date</label>
  <input type="date" 
         name="article_publish_date"
         value="<%= article.htmlFormCompatiblePublishDate() %>"
         class="form-control"
         required>
</div>
<div class="form-group">
  <label>Article Popularity (0 is least popular)</label>
  <input type="number" 
         name="article_popularity"
         value="<%= article.popularity %>"
         class="form-control"
         placeholder="0-10"
         required>
</div>
<div class="form-group">
  <label>Body</label>
  <textarea name="article_body"
            class="form-control"
            rows="30"
            required><%= article.body %></textarea>
</div>